body {
  margin: 0;
  font-family: Arial;
  background: #0d0d0d;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: black;
}

.logo {
  color: gold;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 80px;
  background: linear-gradient(#000, #222);
}

.card {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: #111;
  border-radius: 10px;
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.cta {
  background: gold;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.success {
  background: green;
  padding: 10px;
}

.error {
  color: red;
}

.logout {
  background: red;
  padding: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #333;
  padding: 10px;
}